{% extends 'base.html.twig' %}


{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Content</th>
                <th>AuthorName</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.content }}</td>
                <td>{{ comment.authorName }}</td>
                <td>{{ comment.createdAt | date('d/m/y') }}</td>
                <td>
                    <a href="{{ path('comment_delete_comment', {'id': comment.id}) }}">Edit</a>
                    </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
