{% extends 'base-back.html.twig' %}
{% block body %}
    <h1>Modifier un hôtel</h1>

    {{form_start(formA)}}

    <div class="form-group">
        <label for="">Classe</label>
        {{ form_widget (formA.classe) }}
    </div>
    <div class="form-group">
        <label for="">Lieu</label>
        {{ form_widget (formA.lieu) }}
    </div>

    <button type="submit" class="btn btn-success">Modifier Hotel</button>

    {{form_end(formA)}}


{% endblock %}